footer.footer
  .wrapper
    .footer__desc.footer__block
      .footer__desc-header
        img(src="./dist/img/logo.png", alt="Logo")
        p Project: Global Forces

      .footer__desc-other
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam provident sint cumque neque ipsam, modi sapiente consequuntur vitae possimus sunt eum hic similique eaque aliquid aspernatur officiis molestias officia alias?

        p &copy; 
          span.footer__desc-date 2024 
          | Project: Global Forces

        .footer__desc-links
          a(href="", target="_blank", rel="noopener noreferrer")
            i(class="fa-brands fa-x-twitter")
          a(href="", target="_blank", rel="noopener noreferrer")
            i(class="fa-brands fa-youtube")
          a(href="", target="_blank", rel="noopener noreferrer")
            i(class="fa-brands fa-discord")

    .footer__block
      .footer__block-header
        p legal

      .footer__block-other
        a(href="./privacy-policy") Privacy Policy
        a(href="") Terms of Service
        a(href="") Facebook Disclaimer

    .footer__block
      .footer__block-header
        p links

      .footer__block-other
        a(href="./factions") Factions
        a(href="./donate") About
        a(href="./how-to-join") How to join
        a(href="./mods") Mods
        a(href="./donate") Donate
        a(href="./organizations") Organizations

    .footer__block
      .footer__block-header
        p contact

      .footer__block-other
        a(href="mailto:contact@armapgf.eu") contact@armapgf.eu
        a(href="mailto:business@armapgf.eu") business@armapgf.eu

  .footer__author
    p Page made by: 
      a(href="https://thadon1110.github.io/portfolio", target="_blank", rel="noopener noreferrer") Damian Duda
