extends base

block content 
    main
        section.defaultSection.about
            .wrapper
                .defaultSection__heading
                    h2 get to know us better
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vitae eius magnam repellendus exercitationem aliquam ullam dolore ratione voluptates, alias laborum temporibus iusto consequuntur delectus. Consectetur quod explicabo dignissimos nemo, quasi exercitationem architecto est tempore fuga eos quas totam distinctio sit. Explicabo laboriosam, exercitationem ipsa est autem a incidunt? Cum?

                .about__content
                    .about__content-button
                        a(href="./how-to-join.html") how to join 
                            i(class="fa-solid fa-arrow-up-right-from-square")

                .about__stories
                    .about__stories-line

                    .about__story
                        .about__story-year
                            time(datetime="2020-01-31") 2020.01.31

                        .about__story-content
                            h5 the beginning
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem aspernatur veritatis aliquid! Hic dolore iusto nisi minus. Provident ducimus a ex itaque voluptate dignissimos eius cumque, dolorem consectetur. Eos, perspiciatis eum? Explicabo sint eum hic consequatur debitis cum dicta.

                    .about__story
                        .about__story-year
                            time(datetime="2020-01-31") 2020.01.31

                        .about__story-content
                            h5 the beginning
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi autem aspernatur veritatis aliquid! Hic dolore iusto nisi minus. Provident ducimus a ex itaque voluptate dignissimos eius cumque, dolorem consectetur. Eos, perspiciatis eum? Explicabo sint eum hic consequatur debitis cum dicta.
