extends base

block content 
    main
        section.defaultSection.donate
            .wrapper
                .defaultSection__heading
                    h2 donation
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vitae eius magnam repellendus exercitationem aliquam ullam dolore ratione voluptates, alias laborum temporibus iusto consequuntur delectus. Consectetur quod explicabo dignissimos nemo, quasi exercitationem architecto est tempore fuga eos quas totam distinctio sit. Explicabo laboriosam, exercitationem ipsa est autem a incidunt? Cum?

                .donate__content
                    .donate__content-button
                        a(href="https://donate.stripe.com/eVaeYF4pXget7oA145", target="_blank", rel="noopener noreferrer") donate
                            i(class="fa-solid fa-piggy-bank")
