extends base

block content 
    main
        section.defaultSection.error
            .wrapper
                .error__container
                    p C:\Users\Guest>
                        span= command
                    p.error= message
                    p C:\Users\Guest>
                        span.cursor _
