extends base

block content 
    main
        section.defaultSection.factions
            .wrapper
                .defaultSection__heading
                    h2 factions
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vitae eius magnam repellendus exercitationem aliquam ullam dolore ratione voluptates, alias laborum temporibus iusto consequuntur delectus. Consectetur quod explicabo dignissimos nemo, quasi exercitationem architecto est tempore fuga eos quas totam distinctio sit. Explicabo laboriosam, exercitationem ipsa est autem a incidunt? Cum?
                .factions__flags
                    a(href="./#" target="_blank" rel="noopener noreferrer" class="factions__flag")
                        img(src="./dist/img/flags/pl_2.png" alt="Polish flag")
                        p Fight for Poland
                    a(href="./#" target="_blank" rel="noopener noreferrer" class="factions__flag")
                        img(src="./dist/img/flags/gr.png" alt="Greek flag")
                        p Fight for Greece
                    a(href="./organizations" class="factions__flag")
                        img(src="./dist/img/flags/eng.png" alt="English flag")
                        p Fight for your cause
