extends base

block content 
    main
        section.defaultSection.info
            .wrapper
                .info__container
                    p C:\Users\Guest>
                        span= command
                    p.info= message
                    p C:\Users\Guest>
                        span.cursor _
