extends base

block content 
    main
        section.defaultSection.mods
            .wrapper
                .defaultSection__heading
                    h2 public mods
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vitae eius magnam repellendus exercitationem aliquam ullam dolore ratione voluptates, alias laborum temporibus iusto consequuntur delectus. Consectetur quod explicabo dignissimos nemo, quasi exercitationem architecto est tempore fuga eos quas totam distinctio sit. Explicabo laboriosam, exercitationem ipsa est autem a incidunt? Cum?
                    h3 list of our public mods

                .mods__cards
                    .mods__card
                        a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                            img(src="./dist/img/flags/eng.png", alt="placeholder")
                    .mods__card
                        a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                            img(src="./dist/img/flags/eng.png", alt="placeholder")
                    .mods__card
                        a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                            img(src="./dist/img/flags/eng.png", alt="placeholder")
                    .mods__card
                        a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                            img(src="./dist/img/flags/eng.png", alt="placeholder")
                    .mods__card
                        a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                            img(src="./dist/img/flags/eng.png", alt="placeholder")
                    .mods__card
                        a(href="https://google.com", target="_blank", rel="noopener noreferrer")
                            img(src="./dist/img/flags/eng.png", alt="placeholder")