extends base

block content 
    main
        section.defaultSection.organizations
            .wrapper
                .defaultSection__heading
                    h2 independent organizations
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus vitae eius magnam repellendus exercitationem aliquam ullam dolore ratione voluptates, alias laborum temporibus iusto consequuntur delectus. Consectetur quod explicabo dignissimos nemo, quasi exercitationem architecto est tempore fuga eos quas totam distinctio sit. Explicabo laboriosam, exercitationem ipsa est autem a incidunt? Cum?

                .organizations__list
                    .organizations__organization
                        .organizations__organization-img
                            img(src="./dist/img/organization1.png", alt="Red Pirates")

                        .organizations__organization-texts
                            h4 red pirates

                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, modi aspernatur molestias quod dicta ipsum non fugiat placeat. Debitis, at. Consequatur cupiditate excepturi accusantium atque, mollitia officia? Incidunt aut voluptas consequatur libero veritatis id vitae vel. Deserunt, pariatur perferendis voluptas quos vitae iste asperiores nisi repellendus quisquam obcaecati, aliquid recusandae?

                            .organizations__organization-socials
                                a(href="", target="_blank", rel="noopener noreferrer")
                                    i.fa-brands.fa-x-twitter
                                a(href="", target="_blank", rel="noopener noreferrer")
                                    i.fa-brands.fa-youtube
                                a(href="", target="_blank", rel="noopener noreferrer")
                                    i.fa-brands.fa-discord

                    .organizations__organization
                        .organizations__organization-img
                            img(src="./dist/img/organization2.png", alt="PMC")

                        .organizations__organization-texts
                            h4 pmc

                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, modi aspernatur molestias quod dicta ipsum non fugiat placeat. Debitis, at. Consequatur cupiditate excepturi accusantium atque, mollitia officia? Incidunt aut voluptas consequatur libero veritatis id vitae vel. Deserunt, pariatur perferendis voluptas quos vitae iste asperiores nisi repellendus quisquam obcaecati, aliquid recusandae?

                            .organizations__organization-socials
                                a(href="", target="_blank", rel="noopener noreferrer")
                                    i.fa-brands.fa-x-twitter
                                a(href="", target="_blank", rel="noopener noreferrer")
                                    i.fa-brands.fa-youtube
                                a(href="", target="_blank", rel="noopener noreferrer")
                                    i.fa-brands.fa-discord
