extends base

block content 
    main
        section.defaultSection.privacyPolicy
            .wrapper
                .privacyPolicy__container
                    p C:\Users\Guest&gt;show privacy-policy
                    p Data for privacy-policy

                    h4 1. Test1

                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eum minima soluta velit corrupti autem sed officiis obcaecati pariatur. Neque quam, commodi soluta nulla, itaque aut cumque laborum porro aspernatur, at aliquid. Eum libero, cupiditate nisi animi, minima aliquid ab eaque vero, voluptates eligendi officia voluptatibus magni corporis debitis molestias alias odit porro. Asperiores laboriosam earum, sed placeat enim sequi possimus! Deserunt mollitia ab nemo ratione modi. Quaerat a aut accusamus quidem corrupti nemo saepe iure quo consequuntur ratione. Consequuntur.

                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, debitis architecto illum alias corporis sequi eum molestiae adipisci incidunt atque vel ducimus nobis ab odio autem neque ratione quo totam voluptate similique explicabo iusto. Aliquid quod ipsam tempora recusandae molestiae obcaecati perferendis, minus quam odit magni quasi beatae sint voluptas facilis amet at quia aliquam consequuntur quisquam neque cupiditate! Magnam expedita error nemo odit distinctio sequi voluptate laboriosam sit quibusdam.

                    h4 2. Test2

                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi nobis vitae fugiat! Placeat, libero ratione deleniti magni adipisci ducimus vel, ipsum dolorum soluta nulla rerum quisquam repellat quia, eligendi id consequuntur. Adipisci dignissimos possimus quam quibusdam error voluptatibus debitis? Exercitationem earum maiores, inventore fugiat, maxime voluptate blanditiis harum totam porro non odit expedita obcaecati! Explicabo numquam officia in quam autem nesciunt aliquid inventore quaerat ad alias consequatur, earum tempora debitis fugiat iste minima. Voluptas dolor ullam est eligendi necessitatibus?

                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas soluta aut amet repudiandae sed, magni sapiente, facilis error tenetur non adipisci dolor voluptate perferendis nemo ipsam culpa, qui eligendi ipsa inventore obcaecati! Qui, ipsam quod. Mollitia autem saepe laudantium numquam velit tempora iure soluta itaque vitae quidem, impedit necessitatibus odio magni tenetur reiciendis obcaecati rem perferendis maxime inventore excepturi voluptas! Officia veniam libero ipsa impedit minima ex eius laborum quaerat!

                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus voluptas atque odit officiis eius? Quasi ipsa aliquam nulla officiis! Nulla, aliquam. Et dignissimos recusandae repellat alias unde sunt, distinctio rem cum eaque natus nihil porro est. Modi ipsum nesciunt aliquid eligendi qui, ipsam quaerat temporibus blanditiis? Aliquid aspernatur corrupti ullam blanditiis sit nostrum dicta, illo sed error, harum quos temporibus.

                    p C:\Users\Guest&gt;<span class="cursor">_</span>
